In [1]:
#1.1importo le librerie 
import numpy as np 
import pandas as pd

In [2]:
#importo il csv
data=pd.read_csv('Animali_Urbani.csv',sep=';')

In [11]:
#1.2determino il dataframe
animali=pd.DataFrame(data,columns=["Borough","Species Description","Species Status","Animal Condition","Duration of Response","Age","Animal Class"])

In [14]:
#1.3rinnomino le colonne 
animali=animali.rename(columns={"Borough":"Quartiere di NY",
                                "Species Description":"Specie dell'animale",
                                "Species Status":"Specie domestica o selvatica",
                                "Animal Condition":"Stato di salute dell'animale",
                                "Duration of Response":"Durata dell'intervento",
                                "Age":"Fascia di età dell'animale",
                                "Animal Class":"Tipologia generale"})

In [15]:
animali[animali.isna().any(axis=1)]

,Quartiere di NY,Specie dell'animale,Specie domestica o selvatica,Stato di salute dell'animale,Durata dell'intervento,Fascia di età dell'animale,Tipologia generale
2,Bronx,White-tailed Deer,Native,NaN,"1,00",Juvenile,Deer
3,Staten Island,Raccoon,Native,NaN,"2,00",Adult;#Juvenile,Small Mammals-RVS
9,Manhattan,Dog,Domestic,NaN,"0,75",Adult,Domestic
19,Manhattan,Common Snapping Turtle,Native,NaN,"1,00",Adult,Terrestrial Reptile or Amphibian
32,Queens,Dog,Domestic,NaN,"1,50",Adult,Domestic
...,...,...,...,...,...,...,...
2562,Manhattan,Raccoon,Native,NaN,"1,00",Adult,Small Mammals-RVS
2575,Manhattan,Raccoon,Native,NaN,"0,00",Adult,Small Mammals-RVS
2576,Manhattan,Raccoon,Native,NaN,"0,75",Adult,Small Mammals-RVS
2580,Bronx,Striped Skunk,Native,NaN,"0,25",Adult,Small Mammals-RVS
2598,Manhattan,Double-crested Cormorant,Native,NaN,"1,75",Adult,Birds